
  <tr>
    <td><%= sticker_configuration.sticker_code %></td>
    <td><%= sticker_configuration.frequency_update %></td>
    <td><%= sticker_configuration.activate %></td>
    <td><%= link_to 'Show', sticker_configuration %></td>
    <td><%= link_to 'Edit', edit_sticker_configuration_path(sticker_configuration) %></td>
    <td><%= link_to 'Destroy', sticker_configuration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>