<p id="notice"><%= notice %></p>

<p>
  <b>Sticker code:</b>
  <%= @sticker_configuration.sticker_code %>
</p>

<p>
  <b>Frequency update:</b>
  <%= @sticker_configuration.frequency_update %>
</p>

<p>
  <b>Activate:</b>
  <%= @sticker_configuration.activate %>
</p>


<%= link_to 'Edit', edit_sticker_configuration_path(@sticker_configuration) %> |
<%= link_to 'Back', sticker_configurations_path %>
